.vscode/

client/src/config.ts
client/node_modules/
client/build/
client/public/.htaccess
client/src/config/

mobile_app/node_modules/

api/node_modules/
api/config/
api/dist/
api/.env
api/api.connect
