.vscode/

client/src/components/Metar/config/
client/node_modules/
client/build/
client/src/.env

mobile_app/node_modules/

server/node_modules/
server/dist/
server/.env
server/config/dev.ts
server/config/prod.ts
server/config/config.ts
