.nav-bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.nav-bar > * {
  color: white;
  font-weight: bold;
  padding: .3rem;
  border: 1px solid white;
  border-radius: .2rem;
  margin: 1rem;
  text-decoration: none;
}