.text-field-container {
  margin: .3rem;
  padding: .5rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  width: fit-content;
  color: rgba(128, 128, 128, 0.5);
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: .7rem;
  align-content: center;
}