.aircraft-form > * {
display: grid;
grid-template-columns: 1fr 1fr;
}
.aircraft-form-column > * {
  margin: .3rem !important;
}
.ifr-box{
  display: flex !important;
  flex-flow: row nowrap !important;
  color: gray
}
.submit-box{
  margin-top: 1rem;
  border-top: 3px solid #568395;
  padding-top: .3rem;
  text-align: center;
}