.fuel-selection {
  margin-top: .5rem !important; 
  margin-bottom: .5rem !important;
  width: 200px ;
}
.attention-bar {
  padding: 1rem;
  color: gray;
  border: 3px solid #ea4f02;
  border-radius: .5rem;
}